{% load static %}
<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <div class="ms-5">
                <h3><a href="{% url 'home' %}" class="text-dark">Home</a></h3>
            </div>


            <!-- App Search-->
<!--            <form class="app-search d-none d-lg-block ms-5">-->
<!--                <div class="position-relative">-->
<!--                    <input type="text" class="form-control" placeholder="Search...">-->
<!--                    <span class="bx bx-search-alt"></span>-->
<!--                </div>-->
<!--            </form>-->

        </div>

        <div class="d-flex">

            <div class="dropdown d-inline-block d-lg-none ms-2">
                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-magnify"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                     aria-labelledby="page-header-search-dropdown">

                    <form class="p-3">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search ..."
                                       aria-label="Recipient's username">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="dropdown d-none d-lg-inline-block ms-1">
                <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen">
                    <i class="bx bx-fullscreen"></i>
                </button>
            </div>


            <div class="dropdown d-inline-block me-5">
                {% if user.is_authenticated %}
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<!--                    <img class="rounded-circle header-profile-user"-->
<!--                         src="{{ user.picture.url }}"-->
<!--                         alt="Header Avatar">-->

                    <span class="d-none d-xl-inline-block ms-1" key="t-henry">{{ user.username }}</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    {% if user.is_leader %}
                    <a class="dropdown-item" href="{% url 'requests' %}"><i class="bx bx-user font-size-16 align-middle me-1"></i> <span
                            key="t-profile">Requests</span></a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'send_data' %}"><i class="bx bx-user font-size-16 align-middle me-1"></i> <span
                            key="t-profile">interactive</span></a>
                    <a class="dropdown-item" href="{% url 'answers' %}"><i class="bx bx-user font-size-16 align-middle me-1"></i> <span
                            key="t-profile">answers</span></a>
                    {% endif %}

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="{% url 'users:logout' %}"><i
                            class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span
                            key="t-logout">Logout</span></a>
                </div>
                {% else %}
                <div class="mt-3">
                    <a href="{% url 'users:login' %}" class="btn btn-outline-primary">Login</a>
                    <a href="{% url 'users:register' %}" class="btn btn-outline-primary">Register</a>
                </div>

                {% endif %}
            </div>



        </div>
    </div>
</header>