{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Home Page {% endblock %}

{% block content %}
<div class="main-content container">

    <div class="page-content">
        <div class="container-fluid">


            <div class="card">
                <!-- Nav tabs -->


                <!-- Tab panes -->
                <div class="tab-content p-4">
                    <div class="tab-pane active" id="all-post" role="tabpanel">
                        <div>
                            <div class="row justify-content-center">
                                <div class="col-xl-8">
                                    <div>


                                        <hr class="mb-4">

                                        <div class="row">
                                            {% for leader in leaders %}
                                            <div class="col-sm-6">
                                                <div class="card p-1 border shadow-none">
                                                    <div class="p-3">
                                                        <h5><a href="{{ leader.link }}" class="text-dark">{{ leader.leader.full_name }}</a></h5>
                                                    </div>

                                                    <div class="position-relative">
                                                        <img src="{{ leader.leader.picture.url }}" alt=""
                                                             class="img-thumbnail">
                                                    </div>


                                                    <div class="p-3">

                                                        <p>{{ leader.content |slice:":100" }}...</p>

                                                        <div>
                                                            <a href="https://samduuf.uz/uz/page/branch-director-28-12-2022" class="text-primary">Read
                                                                more <i class="mdi mdi-arrow-right"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}


                                        </div>

<!--                                        <div class="row">-->
<!--                                            <div class="col-sm-6">-->
<!--                                                <div class="card p-1 border shadow-none">-->
<!--                                                    <div class="p-3">-->
<!--                                                        <h5><a href="blog-details.html" class="text-dark">Beautiful-->
<!--                                                            Day with Friends</a></h5>-->
<!--                                                        <p class="text-muted mb-0">10 Apr, 2020</p>-->
<!--                                                    </div>-->

<!--                                                    <div class="position-relative">-->
<!--                                                        <img src="{% static 'assets/images/small/img-2.jpg' %}" alt=""-->
<!--                                                             class="img-thumbnail">-->
<!--                                                    </div>-->


<!--                                                    <div class="p-3">-->
<!--                                                        <ul class="list-inline">-->
<!--                                                            <li class="list-inline-item me-3">-->
<!--                                                                <a href="javascript: void(0);"-->
<!--                                                                   class="text-muted">-->
<!--                                                                    <i class="bx bx-purchase-tag-alt align-middle text-muted me-1"></i>-->
<!--                                                                    Project-->
<!--                                                                </a>-->
<!--                                                            </li>-->
<!--                                                            <li class="list-inline-item me-3">-->
<!--                                                                <a href="javascript: void(0);"-->
<!--                                                                   class="text-muted">-->
<!--                                                                    <i class="bx bx-comment-dots align-middle text-muted me-1"></i>-->
<!--                                                                    12 Comments-->
<!--                                                                </a>-->
<!--                                                            </li>-->
<!--                                                        </ul>-->
<!--                                                        <p>Neque porro quisquam est, qui dolorem ipsum quia-->
<!--                                                            dolor sit amet</p>-->

<!--                                                        <div>-->
<!--                                                            <a href="javascript: void(0);" class="text-primary">Read-->
<!--                                                                more <i class="mdi mdi-arrow-right"></i></a>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->

<!--                                            <div class="col-sm-6">-->
<!--                                                <div class="card p-1 border shadow-none">-->
<!--                                                    <div class="p-3">-->
<!--                                                        <h5><a href="blog-details.html" class="text-dark">Beautiful-->
<!--                                                            Day with Friends</a></h5>-->
<!--                                                        <p class="text-muted mb-0">10 Apr, 2020</p>-->
<!--                                                    </div>-->

<!--                                                    <div class="position-relative">-->
<!--                                                        <img src="{% static 'assets/images/small/img-2.jpg' %}" alt=""-->
<!--                                                             class="img-thumbnail">-->
<!--                                                    </div>-->


<!--                                                    <div class="p-3">-->
<!--                                                        <ul class="list-inline">-->
<!--                                                            <li class="list-inline-item me-3">-->
<!--                                                                <a href="javascript: void(0);"-->
<!--                                                                   class="text-muted">-->
<!--                                                                    <i class="bx bx-purchase-tag-alt align-middle text-muted me-1"></i>-->
<!--                                                                    Project-->
<!--                                                                </a>-->
<!--                                                            </li>-->
<!--                                                            <li class="list-inline-item me-3">-->
<!--                                                                <a href="javascript: void(0);"-->
<!--                                                                   class="text-muted">-->
<!--                                                                    <i class="bx bx-comment-dots align-middle text-muted me-1"></i>-->
<!--                                                                    12 Comments-->
<!--                                                                </a>-->
<!--                                                            </li>-->
<!--                                                        </ul>-->
<!--                                                        <p>Neque porro quisquam est, qui dolorem ipsum quia-->
<!--                                                            dolor sit amet</p>-->

<!--                                                        <div>-->
<!--                                                            <a href="javascript: void(0);" class="text-primary">Read-->
<!--                                                                more <i class="mdi mdi-arrow-right"></i></a>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->


                                        <hr class="my-4">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <!-- end row -->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

</div>
{% endblock %}